<head>
    <style>
        .nav-link {
            transition: all 0.2s ease;
            border-radius: 6px;
        }

        .nav-link:hover {
            background-color: #2563EB;
            color: white !important;
            padding-left: 12px;
        }
    </style>
    </style>
</head>
<div class="border bg-white p-3 d-flex flex-column" style="flex: 0 0 20%; height: 89vh;">

    <!-- Top Section -->
    <div>
        <h5 class="mb-4">Admin Panel</h5>

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/players_list">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/coaches">Coaches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/add_sports">Add Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/add_teams">Create Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/create_match">Create Fixtures</a>
            </li>
        </ul>
    </div>

    <!-- Bottom Section -->
    <div class="mt-auto">
        <hr>
        <div class="user">
            <span>Username</span>
        </div>
    </div>

</div>