<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <h3>REGISTER HERE</h3>
        <div class="field-1">
            <input type="text" name="fname" placeholder="First Name" required>
            <input type="text" name="lname" placeholder="Last Name" required>
        </div>
        <div class="field-2">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="field-3">
            <input type="password" name="passwd" placeholder="Password" required>
        </div>
        <div class="field-4">
            <input type="password" name="c_passwd" placeholder="Confirm Password" required>
        </div>
         <div class="field-6">
            <label for="roles">Select Roles</label>
           <label for="roles">
            <input type="radio" name="roles" value="Coach">
            Coach
           </label>
           <label for="roles">
            <input type="radio" name="roles" value="Player">
            Player
           </label>
        </div>
        <div class="field-5">
            <input type="submit" name="Register">
        </div>
    </form>
</body>
</html>