<div class="border bg-white p-3" style="flex: 0 0 20%;">
    <h5 class="mb-4">Admin Panel</h5>

    <div class="list-group">
        <a href="/admin" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
        <a href="/admin/pending" class="list-group-item list-group-item-action">Pending</a>
        <a href="/admin/approved" class="list-group-item list-group-item-action">Approved</a>
        <a href="/admin/banned" class="list-group-item list-group-item-action">Banned</a>
    </div>
</div>